riotwatcher==3.2.5
SQLAlchemy==2.0.20
pandas~=1.5.3
selenium~=3.141.0
beautifulsoup4~=4.12.2
roman~=4.1
scrapy~=2.8.0
configparser~=5.0.2
itemadapter~=0.3.0
pytest~=7.4.0
typing~=3.7.4.3
numpy~=1.25.2